[Unit]
Description=CS454 Project 1 service
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/cs554-project1
ExecStart=/usr/bin/node server.js
Restart=always

[Install]
WantedBy=multi-user.target
